body {
    font-family: 'Happy Monkey', sans-serif;
    background: linear-gradient(#a2d2ff, #EFB0C9);
    color: #ffffff;
    text-align: center;
}

h1,
h2,
h3,
h4,
p {
    text-shadow: 0px 0px 1px #000000;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 4px 8px;
    border-radius: 5px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

#profile {
    width: 200px;
    border-radius: 50%;
    border: 5px solid #EFB0C9;
}

.gift-section {
    margin-top: 40px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
    margin-bottom: 15px;
}

.gift-img {
    /* background-image: url('images/gift-cover.jpg'); */
    background: linear-gradient(lightblue, white);
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    cursor: pointer;
    background-size: cover;
}

#gift-own-img {
    height: 200px;
}

#happy-gif:hover {
    background-image: url('images/happy.gif');
}

#hot-gif:hover {
    background-image: url('images/hot.gif');
}

#genius-gif:hover {
    background-image: url('images/genius.gif');
}

#badass-gif:hover {
    background-image: url('images/badass.gif');
}

#gift-own-img:hover {
    background-image: url('images/cheers.gif');
}

#footer {
    margin: 30px auto;
    width: 400px;
    font-style: italic;
    font-weight: bold;
}

a {
    color: #ffffff;
    text-decoration: underline;
}