body {
    color: #82a5ca;
    font-family: "Orbitron", sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.content {
    background-image: url("./images/galaxy.webp");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    height: 90%;
}

.apply-btn {
    font-weight: bold;
    padding: 6px 12px;
    background: white;
    border: none;
    color: inherit;
    font-family: inherit;
}

.underline {
    border-bottom: 4px solid #82a5ca;
}

#logo {
    width: 150px;
}

h1 {
    text-shadow: 0 0 4px black;
}

footer {
    text-align: center;
    padding: 0 auto 10px auto;
}
