body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    padding: 20px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    color: #2b2839;
    background: #ddebf8;
    border-bottom: 6px solid #d8cefe;
}


