body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

#header {
    background-image: url('images/san-salvador.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-text {
    background-color: #035E8Ccc;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 0px 1px black;
}

.description-text {
    border-radius: 5px;
    width: 600px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 0px 1px black;
    background-color: #185690;
    padding: 15px;
}

.txt-blue {
    color: #035E8C;
}

.txt-center {
    text-align: center;
}

#activities {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.activities-item {
    width: 25%;
    text-align: center;
}

.activities-item img {
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

#footer {
    background-color: #035E8C;
    color: white;
    text-align: center;
    padding: 10px 0;
    
}

#guide-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: #4199a8;
    margin: 0 auto;
    padding: 10px 30px;
    text-shadow: 0px;
    border-radius: 8px;
}

#my-photo {
    width: 170px;
    border-radius: 1px;
    display: block;
    margin: 20px 0 20px auto;
    padding: 10px 10px 0 10px;
    background-color: white;
    border: 1px solid gray;
    border-bottom: 20px solid wheat;
}

#guide-description {
    width: 300px;
    margin: 0 auto 20px 0;
    padding-top: 35px;
}