a {
    text-align: center;
    color: white;
    margin: 5px;
    padding: 25px 0;
    background-color: #db1c1f;
    font-size: 30px;
    font-weight: bold;
    display: block;
    text-decoration: none;
    width: 200px;
    margin: 5px auto;
}

a:hover {
    background-color: #ba181b;
    font-size: 40px;
}