body {
    margin: 0;
    padding: 0;
}

.red {
    height: 100px;
    background: red;
}

.blue {
    height: 100px;
    background: blue;
    margin: 20px 0 20px 0;
}

.green {
    height: 100px;
    background: green;
}