.card {
    padding: 20px;
    color: #222222;
    background: lightgrey;
    width: 300px;
    margin: 50px auto 0 auto;
    border: 4px solid #222222;
    border-radius: 20px;
}

.custom-card {
    padding: 100px 100px 0 0;
    color: #222222;
    background: lightgrey;
    width: 300px;
    margin: 50px auto 0 auto;
}