.main {
    margin-top: 100px;
}

.logo {
    display: block;
    width: 300px;
    margin: 0 auto 20px auto;
}

.search {
    display: block;
    width: 400px;
    line-height: 24px;
    margin: 0 auto 20px auto;
    padding: 10px 30px 10px 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.btn {
    margin: 10px 10px 0 0;
    padding: 9px 15px 9px 15px;
    border: none;
    color: #0f1419;
    background: #dfe1e5;
    font-size: 14px;
    border-radius: 5px;
    line-height: 15px;
}

.btn-div {
    display: flex;
    justify-content: center;
}