body {
    display: block;
    width: 400px;
    margin: 0 auto;
}

.container {
    border: 8px solid #016a26;
    height: 360px;
    width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.item {
    width: 50px;
    height: 50px;
    margin: 2px;
    padding: 10px;
    font-size: 50px;
    border: 2px solid black;
    background: linear-gradient(#14463d, #016a26);
    display: flex;
    justify-content: center;
    align-items: center;
}